.home-banner {

  ds-typograph[component="heading"] {
    &::part(typograph) {
      margin-top: var(--spacing-xxxs)
    }
  }

  ds-typograph[component=paragraph] {
    max-width: 285px;
    &::part(typograph) {
      margin-top: var(--spacing-xxxs);
      line-height: var(--line-height-lg);
    }
  }
}

.octagon-session {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 244px;
  background-color: var(--brand-color-pure);
  height: 245px;

  @media screen and (min-width: 768px) {
    height: 380px;
  }

  &__arrow {
    position: absolute;
    width: 30px;
    height: 147px;
    left: 16px;
    top: 46px;

    @media screen and (min-width: 768px) {
      left: 126px;
      top: 114px;
    }

    & svg {
      width: 100%;
      height: auto;
      fill: white;

      path {
        stroke: red;
      };

    }
  }

  &__container {
    position: relative;
    left: -50px;
    top: -200px;

    @media screen and (min-width: 768px) {
      left: -100px;
      top: -350px;
    }
  }
}
